<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div th:replace="common/top"></div>
<div id="content">
    <div id="Catalog">
<!--        <form action="order/confirmOrder" method="post">-->
        <form action="/order/confirmOrder" method="post" th:object="${order}">
        <table>
            <tr>
                <th colspan=2>Shipping Address</th>
            </tr>

            <tr>
                <td>First name:</td>
                <td th:text="*{shipToFirstName}"/>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="*{shipToLastName}" />
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="*{shipAddress1}" size="40"/>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="*{shipAddress2}" size="40" />
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="*{shipCity}" />
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="*{shipState}"  size="4" />
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="*{shipZip}" size="10"/>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="*{shipCountry}" size="15" />
            </tr>


        </table>

        <input type="submit" name="newOrder" value="Continue" />

    </form>
    </div>

</div>
<div th:replace="common/bottom"></div>
</body>
</html>