<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div th:replace="common/top"></div>
<div id="content">
    <div id="BackLink">
        <a th:href="'/catalog/viewCategory?categoryId='+${product.categoryId}">
            Return to <label th:text="${product.categoryId}">Category ID</label>
        </a>
    </div>
    <div id="Catalog">

        <h2 th:text="${product.name}">Product Name</h2>

        <table>
            <tr>
                <th>Item ID</th>
                <th>Product ID</th>
                <th>Description</th>
                <th>List Price</th>
                <th>&nbsp;</th>
            </tr>

            <tr th:each="item:${itemList}">
                <td>
                    <!--个product 可能有多个item比如雌雄性别的-->
                    <a th:href="'/catalog/viewItem?itemId='+${item.itemId}" th:text="${item.itemId}">Item ID</a>
                </td>
                <!--通过item来返回一个product-->
                <td th:text="${item.product.productId}">Product ID</td>
                <td th:text="${item.attribute1}">
                    Item Attributes
                </td>
                <!-- <td th:text="${item.listPrice}">Item List Price</td>以fmt格式来显示价钱&ndash;&gt;-->
                <td th:text="'$'+${#numbers.formatDecimal(item.listPrice,1,2)}">Item List Price</td>
                <td><a th:href="'/cart/addItemToCart?workingItemId='+${item.itemId}" class="Button">Add to Cart</a></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="common/bottom"></div>
</body>
</html>