<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jpetstore</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div th:replace="common/top"></div>
<div id="Catalog">
    <form action="/account/editAccount" method="post" th:object="${account}">
        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td th:text="*{username}"></td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="text" name="repeatedPassword"></td>
            </tr>
            <tr>
                <td>VerificationCode:</td>
                <td>
                    <input type="text" id="inputCode" size="5" maxlength="4"/>
                    <span class="code1" name="verification" onclick="createCode(4)" id="checkCode">ABCD</span>
                </td>
            </tr>
        </table>
        <div th:replace="account/includeAccountFields::fields"> </div>
        <input type="submit" value="Save Account Information" name="editAccount">

    </form>
    <a href="/order/listOrder">My Orders</a>
</div>
<script type="text/javascript" src="../js/verificationCode.js" charset = "UTF-8"></script>

</div>
<div th:replace="common/bottom"></div>
</body>
</html>